<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>paragolpes para autos</title>
</head>
<link rel="shortcut icon" href="../img/favicon.png">
<link rel="stylesheet" href= "../css/style.css">
<!-- mi css -->
<body class="gridContainercatalogo">
<nav class="nav gradiente">
	<a href="../index.html">
	<img class="logoAnimado" src="../img/logo.png" alt="logo de la pagina web animaciones">
</a>
<ul>
	<li>
		<a href="catalogo.html">catalogo</a>
	</li>
	<li>
		<a href="marcas.html">marcas</a>

	</li>
	<li>
		<a href="modelos.html">modelos</a>

	</li>
	<li> 
		<a href="ofertas.html">ofertas</a>
	</li>
	<li> 
		<a href="contacto.html">contacto</a>
	</li>

</ul>
</nav>
<!-- fin de la navegacion -->
<header class="cajaModelo header gradiente"> 
	<h1 class="textwhite">CATÁLOGO</h1>
	
</header>

<!-- fin de header -->
<main class="main">


<div class="containervehiculo box">
    <div class="box box1 transformacion2">
        <img src="../img/hilux.jpg"/>
        <p>Paragolpe delantero toyota hilux 2019/2020</p><p>$14.800</p>
    </div>
    <div class="box2 transformacion2">
        <img src="../img/corolla.jpg"/>
        <p>Paragolpe delantero toyota corolla 2017/2020</p><p>$10.500</p>
    </div>
    <div class="box3 transformacion2">
        <img src="../img/etios.jpg"/>
        <p>Paragolpe delantero ford fieta kinetic 2013/2017</p><p>$10.100</p>

    </div>
     <div class="box4 transformacion2">
        <img src="../img/fiesta.jpg"/>
        <p>Paragolpe delantero ford fieta kinetic 2013/2017</p><p>$11.380</p>
    </div>
     <div class="box5 transformacion2">
        <img src="../img/ecosport.png"/>
        <p>Paragolpe delantero ford ecosport 2013/2017</p>
        <p>$13.000</p>
    </div>
     <div class="box6 transformacion2">
        <img src="../img/fordka.jpg"/>
        <p>Paragolpe delantero ford ka 2016/2019</p>
        <p>$16.800</p>
    </div>
      <div class="box7 transformacion2">
        <img src="../img/prisma.jpg"/>
        <p>Paragolpe delantero chevrolet prisma 2013/2016 LTZ</p>
		<p>$9.200</p>
    </div>
     <div class="box8 transformacion2">
        <img src="../img/spin.jpg"/>
        <p>Paragolpe delantero chevrolet spin 2012/-- </p>
        <p>$8.000</p>
    </div>
     <div class="box9 transformacion2">
        <img src="../img/agile.jpg"/>
        <p>Paragolpe delantero chevrolet agile 2009/2012</p>
        <p>$10.200</p>
    </div>
     <div class="box10 transformacion2">
        <img src="../img/trend.jpg"/>
        <p>Paragolpe delantero volkswagen trend 2016/2019</p>
        <p>$8.000</p>
    </div>
     <div class="box11 transformacion2">
        <img src="../img/up.jpeg"/>
        <p>Paragolpe delantero volkswagen up 2011/2017</p>
        <p>$7.600</p>
    </div>
     <div class="box12 transformacion2">
        <img src="../img/voyage.jpg"/>
        <p>Paragolpe delantero volkswagen voyage 2016/2018</p
        >
        <p>$8.000</p>
    </div>
 
</div>
	 
<footer class="bgblack textwhite footer gradiente"> 
		<div> <h4>
			 República del Líbano 1633 - Avellaneda - Gerli</h4><br>
		<a href="https:/es-la.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="">
		</a>
		<a href="https:/www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="">
		</a>
	</footer>
	</div>
</main>

</body>
</html>


