<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>paragolpes para autos</title>
</head>
<link rel="shortcut icon" href="../img/favicon.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">
<!-- mi css -->
<body class="gridContainercontacto">
<nav class="nav gradiente">
	<a href="../index.html">
	<img class="logoAnimado" src="../img/logo.png" alt="logo de la pagina web">
</a>
<ul>
	<li>
		<a href="catalogo.html">catalogo</a>
	</li>
	<li>
		<a href="marcas.html">marcas</a>

	</li>
	<li>
		<a href="modelos.html">modelos</a>

	</li>
	<li> 
		<a href="ofertas.html">ofertas</a>
	</li>
	<li> 
		<a href="contacto.html">contacto</a>
	</li>

</ul>
</nav>



<main id="main" class="containerContact">

	<h1 class="cajaModelo textcenter textwhite gradiente">CONTACTO</h1>

            <div class="contact-wrapper animated bounceInUp textwhite">
                
                <div class="contact-form ">
                    <h3 class="titleTable">Escribinos</h3>
                    <form action="">
                        <p class="contact-size">
                            <label>Nombre:</label>
                            <input type="text" name="nombre">
                        </p>
                        <p>
                            <label>Correo electrónico:</label>
                            <input type="email" name="email">
                        </p>
                        <p class="block">
                            <label>Dejanos tu mensaje:</label> 
                            <textarea name="mensaje" rows="1"></textarea>
                        </p>
                        <p class="block">
                            <button>
                                Enviar
                            </button>
                        </p>
                    </form>
                </div>
                <div class="contact-info contact-pading">
                    <h4>Más información:</h4>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> República del Líbano 1633 - Avellaneda</li>
                        <li><i class="fas fa-phone"></i> (011) 4333-3333</li>
                        <li><i class="fas fa-envelope-open-text"></i> info@msparagolpes.com.ar</li>
                    </ul>
                </div>
            </div>
    
        </div>
    
        </main>

<footer class="bgblack textwhite footer gradiente"> 
		<div> <h4>
			 República del Líbano 1633 - Avellaneda - Gerli</h4><br>
		<a href="https:/es-la.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="">
		</a>
		<a href="https:/www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="">
		</a>
	</footer>

</body>
</html>


