<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>paragolpes para autos</title>
</head>
<link rel="shortcut icon" href="../img/favicon.png">
<link rel="stylesheet" href="../css/style.css">

<body class="gridContainerofertas">
<nav class="nav gradiente">
	<a href="../index.html">
	<img class="logoAnimado" src="../img/logo.png" alt="logo de la pagina web">
</a>
<ul>
	<li>
		<a href="catalogo.html">catalogo</a>
	</li>
	<li>
		<a href="marcas.html">marcas</a>

	</li>
	<li>
		<a href="modelos.html">modelos</a>

	</li>
	<li> 
		<a href="ofertas.html">ofertas</a>
	</li>
	<li>
		<a href="contacto.html">contacto</a>
	</li>

</ul>
</nav>
<!-- fin de la navegacion -->
<header class="cajaModelo header gradiente">
	<h1 class="textwhite">OFERTAS</h1>
</header>
<!-- fin de header -->
<main class="main">
	<section>
		<table class="tableSize sizeContact borderContact" cellpadding="5px" cellspacing="5px">
			<tr>
				<th>Producto</th>
				<th>Codigo</th>
				<th>Lista de Precio</th>
			</tr>
			<tr>
				<td>Paragolpes Delantero Renault</td>
				<td>001</td>
				<td>$12800</td>
			</tr>
			<tr>
				<td>Paragolpes Delantero Toyota</td>
				<td>002</td>
				<td>$9600</td>
			</tr>
			<tr>
				<td>Paragolpes Delantero chevrolet</td>
				<td>003</td>
				<td>$15400</td>
			</tr>
		</table>
	</section>
	<!-- fin del formulario -->
	<section></section>
	<!-- fin del mapa -->
		<footer class="bgblack textwhite footer gradiente"> 
		<div> <h4>
			 República del Líbano 1633 - Avellaneda - Gerli</h4><br>
		<a href="https:/es-la.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="">
		</a>
		<a href="https:/www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="">
		</a>
	</footer>
</main>

</body>
</html>


