<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>paragolpes para autos</title>
</head>
<link rel="shortcut icon" href="../img/favicon.png">
   
<!-- Bootstrap CCS - bootstrap.min.css -->

    <link rel="stylesheet" href="../css/bootstrap.min.css" >

<!-- MI CSS -->

    <link rel="stylesheet" href="../css/style.css" />

<body>  

 <!-- NAV BAR - INICIO -->

    <nav class="navbar navbar-expand-md bg-dark" id="botonera">
      <div class="container-fluid" id="font-nav">
        <a class="navbar-brand" href="../index.html"><img class="" src="../img/logo.png" alt="logo de MS paragolpes" /></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="../views/catalogo.html">CATÁLOGO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/marcas.html">MARCAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/modelos.html">MODELOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/ofertas.html">OFERTAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/contacto.html">CONTACTO</a>
            </li>
          </ul>
          <form class="d-flex me-auto" role="search">
            <input class="form-control me-2 border border-secondary" type="search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- CIERRA NAV BAR -->


<header> 
  <h1 class="textwhite text-center p-4">CATÁLOGO</h1>
</header>

<!-- fin de header -->
<main class="bg-dark mt-2">
        <div class="row m-3 p-4">
            <article class="col-sm-12 col-md-6 col-lg-3"> <img class="*transformacion* w-100 rounded-5" src="../img/hilux.jpg" alt="paragolpe hilux"><p class="mt-2 text-white text-center">Paragolpe delantero toyota hilux 2019/2020</p><p class="mt-2 text-white text-center">$14.800</p></article>

            <article class="col-sm-12 col-md-6 col-lg-3"> <img class="*transformacion* w-100 rounded-5" src="../img/corolla.jpg" alt="paragolpe corolla"><p class="mt-2 text-white text-center">Paragolpe delantero toyota corolla 2017/2020</p><p class="mt-2 text-white text-center">PRECIO: $10.500</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/etios.jpg" alt="paragolpe etios"><p class="mt-2 text-white text-center">Paragolpe delantero Toyota Etios  2013/2017/p><p class="mt-2 text-white text-center">PRECIO: $11,600</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/fiesta.jpg" alt="paragolpe fiesta"><p class="mt-2 text-white text-center">Paragolpe delantero ford fieta kinetic 2013/2017</p><p class="mt-2 text-white text-center">PRECIO: $11.400</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/ecosport.png" alt="paragolpe ecosport"><p class="mt-2 text-white text-center">Paragolpe delantero ford ecosport 2013/2017</p><p class="mt-2 text-white text-center">PRECIO: $13,000</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/fordka.jpg" alt="paragolpe ford ka"><p class="mt-2 text-white text-center">Paragolpe delantero ford ka 2016/2019</p><p class="mt-2 text-white text-center">PRECIO: $16.800</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/prisma.jpg" alt="paragolpe prisma"><p class="mt-2 text-white text-center">Paragolpe delantero chevrolet prisma 2013/2016 LTZ</p><p class="mt-2 text-white text-center">PRECIO: $9.200</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/spin.jpg" alt="paragolpe spin"><p class="mt-2 text-white text-center">aragolpe delantero chevrolet spin 2012/-- </p><p class="mt-2 text-white text-center">PRECIO: $8.000</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/agile.jpg" alt="paragolpe agile"><p class="mt-2 text-white text-center">Paragolpe delantero chevrolet agile 2009/2012</p><p class="mt-2 text-white text-center">PRECIO: $10.200</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/trend.jpg" alt="paragolpe gol trend"><p class="mt-2 text-white text-center">Paragolpe delantero volkswagen trend 2016/2019</p><p class="mt-2 text-white text-center">PRECIO: $8.000</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/up.jpeg" alt="paragolpe up"><p class="mt-2 text-white text-center">Paragolpe delantero volkswagen up 2011/2017</p><p class="mt-2 text-white text-center">PRECIO: $7.600</p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/voyage.jpg" alt="paragolpe voyage"><p class="mt-2 text-white text-center">Paragolpe delantero volkswagen voyage 2016/2018</p><p class="mt-2 text-white text-center">PRECIO: $8.000</p></article>

            </article>
         </div>
</main>

 
</div>
   
   <footer class="p-3 bg-dark text-white contanier-fluid text-center">
      <div><h4>
          República del Líbano 1633 - Avellaneda - Gerli</h4>
      <a class="text-deco" href="https://es-la.facebook.com/" target="_blanck">
         <img class="text-center" id="redes"src="../img/facebook.png" alt="">
      </a>
      <a class="text-deco" href="https://www.instagram.com/" target="_blanck">
         <img id="redes" src="../img/instagram.png" alt="">
      </a>
      </div>


</footer>

<!-- JS - bootstrap.min.js -->
<script src="../js/bootstrap.min.js"></script>

</body>
</html>



