<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>paragolpes para autos</title>
</head>
    <link rel="shortcut icon" href="../img/favicon.png">

    <!--seo-->

    <meta name="description" content="medios de contacto con MSParagolpes">

    <meta name="keywords" content="paragolpes delanteros y paragolpes traseros">

    <meta name="author" content="Suanez Mauricio">
   
<!-- Bootstrap CCS - bootstrap.min.css -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- MI CSS -->

    <link rel="stylesheet" href="../css/style.css">
<!-- mi css -->
<body >

    <nav class="navbar navbar-expand-md bg-dark" id="botonera">
      <div class="container-fluid" id="font-nav">
        <a class="navbar-brand" href="../index.html"><img class="" src="../img/logo.png" alt="logo de MS paragolpes" /></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="../views/catalogo.html">CATALOGO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/marcas.html">MARCAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/modelos.html">MODELOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/ofertas.html">OFERTAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/contacto.html">CONTACTO</a>
            </li>
          </ul>
          <form class="d-flex me-auto" role="search">
            <input class="form-control me-2 border border-secondary" type="search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

<header> 
  <div class="card-header bg-black text-white text-center border border-light rounded-2">        
  <h1 class="textwhite text-center p-4">CONTACTO</h1>
  </div> 
</header>

  <main class="text-light bg-dark mx-1 border border-2 border-light rounded-1">
        <div class="text-center p-4" id="font-titles"></div>
    <div class="bg-primay row mx-5  p-4">
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
            <input type="text" class="form-control border border-1 border-light rounded-1" placeholder="">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control border border-1 border-light rounded-1" placeholder="">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlTextarea1" class="form-label">Dejanos tu mensaje</label>
            <textarea class="form-control border border-1 border-light rounded-1" rows="3"></textarea>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-light" type="submit">Enviar</button>
        </div>

    </div>
        <div class="text-center p-4" id="font-titles"></div>
    </main>


   <footer class="py-3 bg-dark text-white contanier-fluid text-center border border-light rounded-2"> 
      <div>
        <h4>República del Líbano 1633 - Avellaneda - Gerli</h4>
      <a class="text-deco" href="https://es-la.facebook.com/" target="_blanck">
         <img class="text-center" id="redes"src="../img/facebook.png" alt="">
      </a>
      <a class="text-deco" href="https://www.instagram.com/" target="_blanck">
         <img id="redes" src="../img/instagram.png" alt="">
      </a>
      </div>


   </footer>

<!-- JS - bootstrap.min.js -->
<script src="../js/bootstrap.min.js"></script>

</body>
</html>


