<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/404.css">
    <title>Error 404</title>

    <!-- favicon -->
<link rel="shortcut icon" href="../img/favicon.png" />
</head>




<body>

<!-- NAV BAR - INICIO -->

    <nav class="navbar navbar-expand-md bg-dark" id="botonera">
      <div class="container-fluid" id="font-nav">
        <a class="navbar-brand" href="../index.html"><img class="" src="../img/logo.png" alt="logo de MS paragolpes" /></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="../views/catalogo.html">CATALOGO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/marcas.html">MARCAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/modelos.html">MODELOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/ofertas.html">OFERTAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/contacto.html">CONTACTO</a>
            </li>
          </ul>
            <form action="../views/error-404.html"class="d-flex me-auto" role="search">
            <input class="form-control me-2 border border-secondary" type="search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- CIERRA NAV BAR -->


<body>

    <div class="container">
        <img src="../img/error-404.png" alt="página no encontrada. Error 404.">
        <h1>Error 404: página no encontrada.</h1>
        <div class="boton">
            <a href= "../index.html"><button id="btn-comprar">VOLVER AL INICIO</button></a>
        </div>
    </div>

<!-- INICIA FOOTER -->

   <footer class="p-3 bg-dark text-white contanier-fluid text-center border border-light rounded-2">
      <div><h4>
          República del Líbano 1633 - Avellaneda - Gerli</h4>
      <a class="text-deco" href="https://es-la.facebook.com/" target="_blanck">
         <img class="text-center" id="redes"src="../img/facebook.png" alt="">
      </a>
      <a class="text-deco" href="https://www.instagram.com/" target="_blanck">
         <img id="redes" src="../img/instagram.png" alt="">
      </a>
      </div>

<!-- FIN FOOTER -->

<!-- JS - bootstrap.min.js -->
<script src="../js/bootstrap.min.js"></script>



</body>

</html>