<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>paragolpes para autos</title>
</head>
<link rel="shortcut icon" href="../img/favicon.png">

<!--seo-->

<meta name="description" content="amplia variedad de marcas nacionales">

<meta name="keywords" content="fiat, toyota, citroen, ford, chevrolet, renault, peugeot, volkswagen">

<meta name="author" content="Suanez Mauricio">
   
<!-- Bootstrap CCS - bootstrap.min.css -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- MI CSS -->

    <link rel="stylesheet" href="../css/style.css">

<body>  

 <!-- NAV BAR - INICIO -->

    <nav class="navbar navbar-expand-md bg-dark" id="botonera">
      <div class="container-fluid" id="font-nav">
        <a class="navbar-brand" href="../index.html"><img class="" src="../img/logo.png" alt="logo de MS paragolpes" /></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="../views/catalogo.html">CATALOGO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/marcas.html">MARCAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/modelos.html">MODELOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/ofertas.html">OFERTAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../views/contacto.html">CONTACTO</a>
            </li>
          </ul>
          <form action="../views/error-404.html" role="search" class="d-flex me-auto">
            <input class="form-control me-2 border border-secondary" type="search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- CIERRA NAV BAR -->


<header> 
<div class="card-header bg-black text-white text-center border border-light rounded-2">       
  <h1 class="tituloMarcas">MARCAS</h1>   
  </div> 
</header>

<!-- fin de header -->
<main class="bg-dark">
        <div class="row p-4">
            <article class="col-sm-12 col-md-6 col-lg-3"> <img class="*transformacion* w-100 rounded-5" src="../img/citroen.jpg" class="mt-2 text-white text-center"></p></article>

            <article class="col-sm-12 col-md-6 col-lg-3"> <img class="*transformacion* w-100 rounded-5" src="../img/chevrolet.jpg" class="mt-2 text-white text-center"></p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/toyota.jpg" class="mt-2 text-white text-center"></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/ford.jpg" class="mt-2 text-white text-center"></p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/peugeot.jpg" class="mt-2 text-white text-center"></p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/renault.jpg" class="mt-2 text-white text-center"></p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/fiat.jpg" class="mt-2 text-white text-center"></p></article>

            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/volkswagen.jpg" class="mt-2 text-white text-center"></p></article>

         </div>
</main>

 
</div>
   
   <footer class="p-3 bg-dark text-white contanier-fluid text-center border border-light rounded-2">
      <div><h4>
          República del Líbano 1633 - Avellaneda - Gerli</h4>
      <a class="text-deco" href="https://es-la.facebook.com/" target="_blanck">
         <img class="text-center" id="redes"src="../img/facebook.png" alt="">
      </a>
      <a class="text-deco" href="https://www.instagram.com/" target="_blanck">
         <img id="redes" src="../img/instagram.png" alt="">
      </a>
      </div>


</footer>

<!-- JS - bootstrap.min.js -->
<script src="../js/bootstrap.min.js"></script>

</body>
</html>



