<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>paragolpes para autos</title>
</head>
<link rel="shortcut icon" href="../img/favicon.png">
<link rel="stylesheet" href= "../css/style.css">

<body class="gridContainermarcas">
<nav class="nav gradiente">
	<a href="../index.html">
	<img class="logoAnimado" src="../img/logo.png" alt="logo de la pagina web">

</a>
<ul>
	<li>
		<a href="catalogo.html">catalogo</a>
	</li>
	<li>
		<a href="marcas.html">marcas</a>

	</li>
	<li>
		<a href="modelos.html">modelos</a>

	</li>
	<li> 
		<a href="ofertas.html">ofertas</a>
	</li>
	<li> 
		<a href="contacto.html">contacto</a>
	</li>

</ul>
</nav>
<!-- fin de la navegacion -->
<header class="cajaModelo header gradiente">
	<h1 class="textwhite">MARCAS</h1>
    
</header>
<!-- fin de header -->
<main>
     
 	<div class="containermarcas">
    <div class="box box1">
        <img src="../img/toyota.jpg"/>
       
    </div>
    <div class="box box2">
        <img src="../img/honda.jpg"/>
        
    </div>
    <div class="box box3">
        <img src="../img/citroen.jpg"/>
        
    </div>
     <div class="box box4">
        <img src="../img/ford.jpg"/>
       
    </div>
     <div class="box box5">
        <img src="../img/fiat.jpg"/>
       
    </div>
     <div class="box box6">
        <img src="../img/chevrolet.jpg"/>

    </div>
      <div class="box box7">
        <img src="../img/volkswagen.jpg"/>
       
    </div>
     <div class="box box8">
        <img src="../img/peugeot.jpg"/>
       
    </div>
      
      <div class="box box9">
        <img src="../img/nissan.jpg"/>
       
    </div>
</div>
	<!-- fin del formulario -->
	<section></section>
	<!-- fin del mapa -->
<footer class="bgblack textwhite footer gradiente"> 
		<div> <h4>
			 República del Líbano 1633 - Avellaneda - Gerli</h4><br>
		<a href="https:/es-la.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="">
		</a>
		<a href="https:/www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="">
		</a>
	</footer>

</body>
</html>


